[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
pygithub = "*"
msgpack = "*"
jinja2 = "*"

[dev-packages]
ruff = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
